.container{
    margin: 10px;
    padding: 10px;
    width: 950px;
    background-color: silver;
}
.top-nav {
    margin: 10px;
    height: 150px;
    background-color: green;
}
.side-nav {
    margin: 10px;
    height: 300px;
    width: 200px;
    background-color: blue;
}
.main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    padding: 15px 35px 15px 15px;
    margin: 10px;
    height: 400px;
    width: 700px;
    background-color: red;
}
.sub-content {
    align-items: flex-start;
    height: 200px;
    width: 210px;
    margin: 0 14px 0 0 ;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
}
.row {
    display: flex;
}

