* {
    margin: 0;
    padding: 0;
    line-height: 0;
    font-family: 'Press Start 2P', sans-serif;
}

body {
    background-color: black;
}
#container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto; */
}
div.row div {
    width: 20px;
    height: 20px;
    display: inline-block;
    
}
div.brick {
    background-color: blue;
    /* border-radius: 25%; */
}
div.coin {
    background: url('assets/slice.gif');
    background-size: contain;
}
#pacman {
    background: url('assets/pacman.gif');
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    transition: 150ms
    
}
#blinky {
    background: url('assets/blinky.gif');
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    transition: 250ms;
    background-repeat: no-repeat;
}
#pinky {
    background: url('assets/pinky.gif');
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    transition: 250ms;
    background-repeat: no-repeat;
}
#inky {
    background: url('assets/inky.gif');
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    transition: 250ms;
    background-repeat: no-repeat;
}
#clyde {
    background: url('assets/clyde.gif');
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    transition: 250ms;
    background-repeat: no-repeat;
}
#scoreboard {
    display: flex;
    justify-content: space-between;
    width: 420px;
}

div#score {
    border: 1px solid white;
    color: white;
    padding: 10px 5px;
    text-align: center;
    /* margin: 10px; */
}
div#lives {
    border: 1px solid white;
    color: white;
    padding: 10px 5px;
    text-align: center;
    /* margin: 10px; */
}
#gameOver { 
    color: aliceblue;
    /* display: flex; */
    font-size: 70%;
    /* margin: 10px; */
    line-height: 2em;
    width: 440px;
    text-align: center;
}