@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    
* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', monospace;
    background-color: slategrey;
    color: yellow;
}
    
h2 {
    text-align: center;
    margin: 20px 0;
}
    
#the-dojo {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#gameover {
    margin: 0 auto;
    display: none;
    width: 320px;
    height: 320px;
    position: fixed;
    top: 12%;
    left: 30%;
    opacity: 90%;
    color: whitesmoke;
    -webkit-text-stroke: 1px black;
}
    
.tatami {
    background-color: forestgreen;
    height: 32px;
    width: 32px;
    border: 2px solid saddlebrown;
    border-right: 2px solid saddlebrown;
    border-bottom: 2px solid saddlebrown;
    color:black;
    -webkit-text-stroke: 1% white;
}
.bush {
    background-image: url(bush.png);
    background-size: contain;
}
    
.tatami:active {
    border: 2px solid #999;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    background-color: white;
}

#restart {
    text-align: center;
    border-radius: 15%;
    background-color: black;
    color: crimson;
}