* {
    margin: 0 -10px;
}

.row {
    display: flex;
    margin: 10px auto;
}
.col {
    flex: 1;
    display: flex;
    height: 2em;
    margin: 10px;
    padding: 15px;
    align-items: center;
    background-color: darkcyan;
    color: white;
}
.col-2 {
    display: flex;
    flex: 2;
    height: 2em;
    margin: 10px;
    padding: 15px;
    align-items: center;
    background-color: darkcyan;
    color: white;
}
.col-3 {
    display: flex;
    flex: 3;
    height: 2em;
    margin: 10px;
    padding: 15px;
    align-items: center;
    background-color: darkcyan;
    color: white;
}