* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    height: 2em;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(57, 57, 57);
}
.nav-title {
    
    color: white;
    font-weight: bolder;
}
.nav-links {
    display: flex;
    
}
li {
    list-style: none;
    font-weight: 900px;
    padding: 10px;
    flex-wrap: nowrap;
    align-self: center;
}
a {
    color: rgb(206, 206, 206);
    flex-wrap: nowrap;
    text-decoration: none;
}
.active {
    color: white;
}
.btn {
    color: white;
    border: 3px solid black;
    height: 2em;
    padding: 0 10px;
    background-color: rgb(0, 177, 193);
    box-shadow: 2px 2px black;
}
