* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 100%
}

#head {
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    margin: 0 10%;
}

h1 {
    font-size: 170%;
    font-weight: 400;
}

#search {
    width: 50%;
    border: 2px solid black;
}

#login {
    width: 13%;
    height: 10%;
    background-color: rgb(23, 75, 229);
    color: aliceblue;
    box-shadow: 3px 3px black;
    border: 2px solid black;
}

#body {
    display: flex;
    margin: 2% 10%;
    gap: 10px;
    /* flex-direction: column;
    align-items: space-between; */
}

#col1 {
    display: flex;
    flex: 7;
    gap: 10px;
    flex-direction: column;
}

#col2 {
    flex: 3;

}

.defs {
    border: 2px solid black;
    display: flex;
    align-items: center;
    /* margin: 0 10%; */
    padding: 2% 1%;
}

.leftdef {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1.5;
}

.leftdef>h1 {
    align-self: flex-start;
    padding-left: 7%;
}

h4,
h5,
.likes {
    margin: 3% 0;
}

h4 {
    font-style: italic;
    font-weight: 500;
    font-size: 90%;
}

h5 {
    font-weight: 400;
}

h5,
.likes {
    font-size: 80%;
}

.definition {
    text-align: left;
    flex: 3.5;
    margin: 0 7%;
}

.likes {
    padding: 5% 8%;
    display: flex;
    justify-content: center;
    background-color: rgb(246, 213, 0);
    font-weight: 500;
    box-shadow: 3px 3px;
    margin-top: 15%;
    border: 2px solid black;
    width: 90%;
}

#addDef {
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5% 5%;
    height: 30%;
}

h3 {
    padding: 0 3%;
    font-weight: 400;
}

h3>span {
    font-weight: 600;
}

#add {
    margin: 5%;
    padding: 2% 3%;

    border: 2px solid black;
    width: 95%;
    background-color: rgb(107, 185, 107);
    font-weight: 500;
    box-shadow: 3px 3px;
}