
.container{
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 985px;
    background-color: silver;
}
.top-nav {
    height: 150px;

    margin: 10px;
    padding: 10px;
    background-color: green;;
}
.side-nav {
    display: inline-block;
    height: 300px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: blue;
}
.main {
    display: inline-block;
    height: 400px;
    width: 700px;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
    background-color: red;
}
.sub-content {
    display: inline-block;
    box-sizing: border-box;
    height: 200px;
    width: 210px;
    margin: 5px;
    background-color: yellow;
}
#advertisement {
    display: block;
    height: 120px;
    width: 660px;
    margin: 4px;
    box-sizing: border-box;
    background-color: purple;
}